@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
$main-title : "Poppins";
$bold-title : 700;
$medium-title : 500;
$regular-title : 400;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
$main-text : "Roboto";
$bold-text : 700;
$medium-text : 500;
$regular-text : 400;
$light-text : 300;
$thin-text : 100;