.form-register{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: transparent;
    border-radius: 15px;
}
.form-title{
    background: transparent;
    color: $dark-color;
    padding: 20px;
    margin-top: 0;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 4px solid #49914d;
}
.container-inputs{
    padding: 10px 30px;
    display: flex;
    /* COntenido que no entre se deslize hacia abajo */
    flex-wrap: wrap;
    justify-content: space-between;
    input[placeholder]{
        border: none;
        outline: none;
        background: none;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
        border-bottom: 2px solid #49914d;
    }
}

.input-50{
    width: 48%;
}
.input-100{
    width: 100%;
}
.btn-enviar{
    background: transparent;
    color: $main-text;
    margin: auto;
    padding: 4px 0;
    width: 65%;
    cursor: pointer;
    transition: 1s;
    font-size: 18px;
    border: 2px solid #49914d;
}
.btn-enviar:active{
    transform: scale(1.10);
}
.form-link{
    a{
        text-decoration: none;
    }
    bottom: 0;
}